.images-container > img {
  width: 100px;
  height: 100px;
}

.league-container > img {
  width: 70%;
  height: 70%;
}

.league-container {
  padding: 5%;
}

.images-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.fixture-card-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid #04f5ff;
  border-radius: 5px;
  padding: 25px;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
  align-items: center;
  color: #38003c;
  font-family: "Poppins";
}
.fixture-card-container:hover {
  transform: scale(1.05);
}
