.images-container > img {
  width: 100px;
  height: 100px;
}

.league-container > img {
  width: 70%;
  height: 70%;
}

.league-container {
  padding: 5%;
}

.images-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
