.card-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid #04f5ff;
  border-radius: 5px;
  padding: 25px;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  align-items: center;
  color: #38003c;
  font-family: "Poppins";
}

.image {
  width: 150px;
  height: 150px;
}
