.header-container {
  height: 10vh;
  width: 100%;
  /* header BG color work in progress, maybe i should swap logos */
  background-color: #38003c;
  color: wheat;
  font-size: 120%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.options-container {
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 1%;
}

.option-link {
  align-content: flex-end;
  justify-content: end;
  cursor: pointer;
  color: wheat;
  padding: 0 1%;
}

.logo-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 10%;
  padding: 0 1%;
}

.logo-container > img {
  width: 50%;
  height: 80%;
  padding: 5%;
}
