.header-container {
  height: 8vh;
  width: 100%;
  /* header BG color work in progress, maybe i should swap logos */
  background-color: #04f5ff;
  color: wheat;
  font-size: 120%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.options-container {
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.option-link {
  align-content: flex-end;
  justify-content: end;
  cursor: pointer;
}

.logo-container {
  display: flex;
  flex-direction: row;
  align-self: center;
  height: 100%;
  width: 100%;
}
